body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

h2{
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main, form {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
}

.producto, .foro-post {
    background: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.perfil {
    text-align: center;
}